<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <!--We support the following log types: Windows Application Event Log: 
    "Event Log", CSV log file: "CSV", Encrypted CSV log file: "Encrypted CSV"-->
    <add key="Log Type" value="Event Log"/>
    <add key="Log Limit" value="1000"/>
  </appSettings>
</configuration>
